/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-image: url('/static/assets/img/login_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 24rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 5.5rem;
    margin-left: .9rem;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 2.5rem;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1.1rem;
    margin-right: .4rem;
}

.login_btn,
.validate {
    width: fit-content;
    padding: .5rem 1.5rem;
    color: black;
    font-weight: 700;
    background-color: #FFC312;
}

.login_btn:hover,
.validate:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}


/* otp-form */

#otp-form .card {
    width: 25rem;
    border: none;
    height: 20rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#otp-form .card h6 {
    color: #fff;
    font-size: 1.2rem
}

#otp-form .inputs input {
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    font-weight: 600;
}

#otp-form .card-2 {
    width: fit-content;
    height: fit-content;
    color: white;
    font-weight: 600;
    padding: .2rem 1rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: .5rem
}

#otp-form .card-2 .content a {
    color: red
}

#otp-form .form-control:focus {
    box-shadow: none;
    border: 2px solid #FFC312
}


/* #otp-form .validate {
    border-radius: .2rem;
    height: 3.5rem;
    background-color: #FFC312;
    border: 1px solid #FFC312;
    width: 12rem
} */

#otp-form .icofont-close {
    top: 15%;
    outline: none;
    background: none;
    width: 1rem;
    height: 1rem;
    position: absolute;
}


/* Spinner */

.spinner-container {
    position: fixed;
    left: 48%;
    top: 40%;
}

.spinner-container>div {
    width: 100%;
    aspect-ratio: 1/.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 100px;
    height: 100px;
    background: linear-gradient(90deg, #009fff, #ec2f4b);
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

#spinner1 {
    border-radius: 50%;
    position: relative;
    animation: rotate 2s linear infinite;
}

#spinner1::before {
    content: "";
    width: calc(100px - 15px);
    height: calc(100px - 15px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid black;
    border-top: 15px solid transparent;
}

#spinner1::after {
    content: "";
    transform: translate(-50%, -50%);
    width: calc(100px - 15px);
    height: calc(100px - 15px);
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px black;
}

.alert {
    position: fixed;
    width: 100%;
    height: 3rem;
}