<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ERP</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/Pixel_logo.png')}}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- ICOFONT ICONS -->
    <link href="{{ url_for('static', filename='/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Tempo - v4.8.0
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="/admin"> </a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#home">Dashboard</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <button><a class="nav-link scrollto logout" href="#logout">Logout</a></button>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <section id="logout"></section>
    <!-- ======= home Section ======= -->
    <section id="home" class="services">
        <script>
            console.log({
                alert
            })
        </script>
        {% if alert %} {% if alert['section'] == 'manager' %}

        <div class="alert alert-{{alert['type']}} alert-dismissible fade show" role="alert" id="alert">
            <strong>{{'ERROR : ' if alert['type'] == 'danger' else alert['type'].upper()+' : '}}</strong> {{alert['message']}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {% endif %}
        <!-- Filter start -->
        <div class="container d-flex flex-row mb-3" id="filter">
            <form class="d-flex flex-row bd-highlight mb-3 d-inline" id="filterForm">
                <div class="p-2 bd-highlight">
                    <select class="form-select" name="region" aria-label="Default select example">
                        <option value=0 selected>Region</option>
                        {% for region in allregions %}
                        <option value={{region}}>{{region}}</option>
                        {% endfor %}
                </select>
                </div>
                <div class="p-2 bd-highlight">
                    <select class="form-select" id="memberType" name="memberType" aria-label="Default select example">
                        <option value=0 selected>Member type</option>
                        <option value="Individual B">Individual B</option>
                        <option value="Individual A">Individual A</option>
                        <option value="Company Sole">Company Sole</option>
                        <option value="Company Partnership">Company Partnership</option>
                    </select>
                </div>
                <div class="p-2 bd-highlight">
                    <input type="text" name="memberNo" pattern="[0-9]{10}" min="10000" max="99999999" id="memberNo" class="form-control" placeholder="Member No.">
                </div>
                <div class="p-2 bd-highlight">
                    <button class="btn btn-success" id="filterBtn">
                    Search
                  </button>
                </div>
            </form>
            <div class="p-2 bd-highlight" style="width: fit-content;">
                <button class="btn btn-primary" id="add-new-record-btn">
                    Add New Entry
                </button>
            </div>

        </div>
        <div class="card">
            <ul class=" ">
                <li class=" "><span class="badge badge-primary"> </span> - Individual A</li>
                <li class=""><span class="badge badge-success"> </span> - Individual B</li>
                <li class=""><span class="badge badge-warning"> </span> - Not Renewed</li>
                <li class=""><span class="badge badge-danger"> </span> - Lifetime Membership
                </li>
            </ul>
        </div>
        <br>
        <!-- Filter end -->
        <br>
        <!-- Display records in table -->
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="text-center" style="font-size:16px;">
                            <th scope="col" class="disGo">FNO</th>
                            <th scope="col">Mem. No.</th>
                            <th scope="col">Type</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Contact No.</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Mem. Cat</th>
                            <th scope="col">Region</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="tablebody">
                        {% for record in allRecords.items %} {% if record.membership_type == 'Individual A' %} {% if record.renewal_status == False %}
                        <tr>
                            {% else %} {% if (current_date-record.membership_date).days > (365*6)%}
                            <tr>
                                {% else %}
                                <tr>
                                    {% endif %} {% endif %} {% elif record.membership_type == 'Individual B' %}
                                    <tr>
                                        {% else %}
                                        <tr>
                                            {% endif %}
                                            <td class="disGo">{{record.fno}}</td>
                                            <td>{{record.member_no}}</td>
                                            <td>{{record.membership_type}}</td>
                                            <td>{{record.member_name}}</td>
                                            <td>{{record.company_name}}</td>
                                            <td>{{record.contact}}</td>
                                            <td>{{record.email}}</td>
                                            <td>{{record.address}}</td>
                                            <td>{{record.dob}}</td>
                                            <td>{{record.member_Category}}</td>
                                            <td>{{record.region}}</td>
                                            <td class="d-none">{{record.membership_date}}</td>
                                            <td class="d-none">{{record.renewal_status}}</td>
                                            <td class="d-none">{{record.renewal_date}}</td>
                                            <td class="d-none">{{record.renewal_amount}}</td>
                                            <td>
                                                <button class="mg-edit-form edit-formover mx-1">
                                    <i class="fa fa-edit"></i>
                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br> {% for page_num in allRecords.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)%} {% if page_num %} {% if allRecords.page == page_num%}
            <a class="btn btn-info mb-4" href="{{url_for('manager',page=page_num)}}">{{page_num}}</a> {% else %}
            <a class="btn btn-outline-info mb-4" href="{{url_for('manager',page=page_num)}}">{{page_num}}</a> {% endif %} {% else %} ... {% endif %} {% endfor %} {% if manager.able_to_download %}
            <button class="btn btn-primary float-right mb-2"><i class="icofont-download"> </i><a href="{{url_for('downloadFile',page=page_num)}}" class="text-light">Download</a></button> {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Table end -->
        <!-- To add new record -->
        <section class="overlay-add-form d-none">
            <div class="container add-record">
                <h4 class="card-title">Add New Record</h4>
                <form class="forms-sample my-3" method="post" action="manager/addRecord" id="add-record-form">
                    <div class="mb-3">
                        <input type="number" class="form-control" name="mno" placeholder="Enter Member Number" id="mno" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" pattern="^[a-zA-Z ]{2,30}$" name="cnm" placeholder="Enter Company Name" id="cnm">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" pattern="^[a-zA-Z ]{2,30}$" name="mnm" placeholder="Enter Member Name" id="mnm">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" pattern="[0-9]{10}" name="contact" placeholder="Enter Contact Number" id="contact" min="1000000000" max="9999999999">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" placeholder="Enter Email Id" id="email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" name="address" placeholder="Enter Address" id="addr"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="dob" id="dob" />
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Select Member Category</label>
                        <select class="form-select" name="category" id="category" size="5" aria-label="size 3 select example" required\>
                            <option value=0 selected>Select Category</option>
                            <option value="Actor">Actor</option>
                            <option value="Actress">Actress</option>
                            <option value="Art Director">Art Director</option>
                            <option value="Art Promotion">Art Promotion</option>
                            <option value="Asst. Art Director">Asst. Art Director</option>
                            <option value="Asst. Cameraman">Asst. Cameraman</option>
                            <option value="Asst. Choreographer">Asst. Choreographer</option>
                            <option value="Asst. Director">Asst. Director</option>
                            <option value="Asst. Motion Photographer">Asst. Motion Photographer</option>
                            <option value="Asst. Photographer">Asst. Photographer</option>
                            <option value="Asst. Production Manager">Asst. Production Manager</option>
                            <option value="Cameraman">Cameraman</option>
                            <option value="Catering">Catering</option>
                            <option value="Choreographer">Choreographer</option>
                            <option value="Cinematographer">Cinematographer</option>
                            <option value="Co-Production House">Co-Production House</option>
                            <option value="Co-Actor">Co-Actor</option>
                            <option value="Director">Director</option>
                            <option value="Distributor">Distributor</option>
                            <option value="Dress Designer">Dress Designer</option>
                            <option value="Dressman">Dressman</option>
                            <option value="Editor">Editor</option>
                            <option value="Fight Master">Fight Master</option>
                            <option value="Hair Dresser">Hair Dresser</option>
                            <option value="Lightman">Lightman</option>
                            <option value="Lyrics">Lyrics</option>
                            <option value="Make up Artist">Make up Artist</option>
                            <option value="Motion Photographer">Motion Photographer</option>
                            <option value="Music Director">Music Director</option>
                            <option value="Photographer">Photographer</option>
                            <option value="Producer">Producer</option>
                            <option value="Production House">Production House</option>
                            <option value="Production Manager">Production Manager</option>
                            <option value="Promotion">Promotion</option>
                            <option value="Screen Play">Screen Play</option>
                            <option value="Singer">Singer</option>
                            <option value="Sound Designer">Sound Designer</option>
                            <option value="Spot Boy">Spot Boy</option>
                            <option value="Supp. Actor">Supp. Actor</option>
                            <option value="Supp. Actress">Supp. Actress</option>
                            <option value="Writer">Writer</option>
                            <option value="Writer/Musician">Writer/Musician</option>
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="membership_date" class="form-label">Membership Date</label>
                        <input type="date" class="form-control" name="membership_date" id="membership_date" />
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label">Select Region</label>
                        <select class="form-select" name="region" id="region" size="5" aria-label="size 5 select example" required>
                        {% for region in allregions %}
                            {% if loop.index == 1 %}
                                <option value={{region}} selected>{{region}}</option>
                            {% else %}
                                <option value={{region}}>{{region}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="renewal_status" class="form-label">Renewal Status</label>
                        <select class="form-select" name="renewal_status" id="renewal_status" aria-label="Default select example" required>
                            <option value=0 selected>False</option>
                            <option value=1>True</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="renewal_date" class="form-label">Renewal Date</label>
                        <input type="date" name="renewal_date" class="form-control" id="renewal_date" disabled required/>
                    </div>
                    <div class="mb-3">
                        <label for="renewal_amount" class="form-label">Renewal Amount</label>
                        <input type="number" name="renewal_amount" class="form-control" pattern="[0-9]{10}" id="renewal_amount" disabled required>
                    </div>
                    <button type="submit" class="btn btn-primary me-2 add-dept-btn">Submit</button>
                    <button class="btn btn-dark cancel-dept-btn">Cancel</button>
                </form>
            </div>
        </section>

        <!-- To update record -->
        <section class="overlay-edit-form d-none">
            <div class="container edit-record">
                <h4 class="card-title">Update Record</h4>
                <form class="forms-sample my-3" id="edit-record-form" method="post" action="manager/updateRecord">
                    <div class="mb-3">
                        <label for="ur_fno" class="form-label">FNO</label>
                        <input type="number" name="fno" class="form-control" id="ur_fno" readonly="'readonly">
                    </div>
                    <div class="mb-3">
                        <label for="ur_mno" class="form-label">Member Number</label>
                        <input type="number" name="mno" class="form-control" id="ur_mno" min="1000000000" max="9999999999" readonly="'readonly">
                    </div>
                    <div class="mb-3">
                        <label for="ur_cnm" class="form-label">Company Name</label>
                        <input type="text" name="cnm" class="form-control" id="ur_cnm">
                    </div>
                    <div class="mb-3">
                        <label for="ur_contact" class="form-label">Contact Number</label>
                        <input type="number" name="contact" pattern="[0-9]{10}" class="form-control" id="ur_contact" min="1000000000" max="9999999999">
                    </div>
                    <div class="mb-3">
                        <label for="ur_addr" class="form-label">Address</label>
                        <textarea class="form-control" name="address" id="ur_addr"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="ur_dob" class="form-label">Date of Birth</label>
                        <input type="date" name="dob" class="form-control" id="ur_dob" />
                    </div>
                    <div class="mb-3">
                        <label for="ur_region" class="form-label">Region</label>
                        <select class="form-select" id="ur_region" size="5" name="region" aria-label="size 5 select example">
                            {% for region in allregions %}
                            {% if loop.index == 1 %}
                                <option value={{region}} selected>{{region}}</option>
                            {% else %}
                                <option value={{region}}>{{region}}</option>
                            {% endif %}
                        {% endfor %}
                          </select>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="ur_membership_date" class="form-label">Membership Date</label>
                        <input type="date" class="form-control" name="membership_date" id="ur_membership_date" required/>
                    </div> -->
                    <div class="mb-3">
                        <label for="Urenewal_status" class="form-label">Renewal Status</label>
                        <select class="form-select" name="renewal_status" id="Urenewal_status" aria-label="Default select example" required>
                            <option value=0>False</option>
                            <option value=1>True</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Urenewal_date" class="form-label">Renewal Date</label>
                        <input type="date" name="renewal_date" class="form-control" id="Urenewal_date" readonly required/>
                    </div>
                    <div class="mb-3">
                        <label for="Urenewal_amount" class="form-label">Renewal Amount</label>
                        <input type="number" name="renewal_amount" class="form-control" pattern="[0-9]{10}" id="Urenewal_amount" readonly required>
                    </div>
                    <button type="submit" class="btn btn-primary me-2 add-dept-btn">Update</button>
                    <button class="btn btn-dark cancel-dept-btn">Cancel</button>
                </form>
            </div>
        </section>
    </section>
    <!-- End home -->
    <section id="logout"></section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer">
        <p>
            Powered By
            <a href="https://pixelstat.com/">
            PIXELSTAT
        </a>
        </p>
    </div>

    <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>

    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>